* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', Arial, sans-serif;
    background-color: #fcfcfc;
    color: #333;
    display: flex;
    justify-content: center;
   align-items: end;
    height: 100vh;
    padding: 20px;
}

#login-container{
    font-family: 'Poppins', Arial, sans-serif;
    background-color: #ffffff;
    color: #333;
    display: flex;
    justify-content: center;
   align-items: center;
    height: 100vh;
    padding: 20px;
}

#user-info {
    font-family: 'Poppins', Arial, sans-serif;
    background-color: #ffffff;
    color: #333;
    height: 80px; /* Definindo a altura da barra */
    padding: 10px;
    display: flex; /* Usando flexbox para alinhar o conteúdo */
    justify-content: space-between; /* Espaço entre os itens */
    align-items: flex-start; /* Alinha os itens no topo do container */
    border: 1px solid #ddd; /* Borda para dar destaque à barra */
    overflow: hidden; /* Impede que o conteúdo ultrapasse a altura definida */
    position: fixed; /* Fixa a barra no topo da tela */
    top: 0; /* Posiciona a barra no topo da tela */
    left: 0; /* Garante que a barra vai começar do lado esquerdo */
    width: 100%; /* Faz a barra ocupar toda a largura da tela */
}

#user-name, #user-plan {
    margin: 0;
    font-size: 24px; /* Ajuste o tamanho da fonte para algo mais adequado */
}

#logo{
    font-family: 'Poppins', Arial, sans-serif;
    background-color: #ffffff;
    color: 333;
    height: 20  px; /* Definindo a altura da barra */
    padding: 10px;
    display: flex; /* Usando flexbox para alinhar o conteúdo */
    justify-content: center; /* Espaço entre os itens */
    align-items: center; /* Alinha os itens no topo do container */
    overflow: hidden; /* Impede que o conteúdo ultrapasse a altura definida */
    position: fixed; /* Fixa a barra no topo da tela */
    top: 0; /* Posiciona a barra no topo da tela */
    left: 50%; /* Garante que a barra vai começar do lado esquerdo */
    width: 50%; /* Faz a barra ocupar toda a largura da tela */
    transform: translateX(-50%);
}

.container {
    width: 100%;
    max-width: 1400px;
    background: #f9f9f9;
    border-radius: 10px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}

.music-list-container {
    color: rgb(211, 210, 210);
    max-height: 400px;
    overflow-y: auto;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background: rgba(0, 0, 0, 0.8);
}

.music-list-container::-webkit-scrollbar {
    width: 8px;
}

.music-list-container::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 4px;
}

.music-list-container::-webkit-scrollbar-thumb:hover {
    background: #555;
}


.music-player {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: rgba(0, 0, 0, 0.8);
    color: white;
    padding: 20px;
    border-radius: 10px;
    width: 100%;
}


.music-player::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    border-radius: 10px;
    z-index: -1;
}

.controls {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
    margin-top: 10px;
}

.controls button {
    background: #1d9721; /* Cor de fundo */
    color: white; /* Cor do ícone */
    border: none;
    padding: 10px 15px;
    border-radius: 100%; /* Deixa o botão redondo */
    font-size: 25px;
    cursor: pointer;
    transition: background 0.3s, transform 0.2s;
}

.controls button:hover {
    background: #000000; /* Cor ao passar o mouse */
}

.controls button i {
    pointer-events: none; /* Evita problemas de clique nos ícones */
}
.controls button:hover {
    background: #c02d2d;
    transform: scale(1.1); /* Efeito de zoom ao passar o mouse */
}


